.header-logo {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.footer-logo {
    display: grid;
    justify-content: left;
    align-content: center;
    width: 80px;
    
    margin-right: 10px; /* Adjust margin as needed */
}


.section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #f6d5d5;
    margin: 20px auto; /* Change auto to adjust horizontal margin */
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: xx-large;
    width: 60%; /* Adjust width as needed */
    max-width: 1000px; /* Set a maximum width if necessary */
}

.main-logo{
    display: flex;

   justify-content: center;

    margin-bottom: 0px;

}

.main-logo img {
    width: 100px; /* Adjust the width */
    height: 100px; /* Adjust the height */
}